<div class="container mt-3">
	<div class="row">
		<div class="col-lg-6">
			<div class="btn btn-info text-white">
				<h6>#</h6>
				<small>following</small>
		    </div>
		</div>
		<div class="col-lg-6">
			<div class="btn btn-info text-white">
				<h6>#</h6>
				<small>followers</small>
			</div>
		</div>
	</div>
</div>